* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background-color: #000;
  color: #fff;
}

*::selection {
  background-color: #000;
  color: #fff;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1px;
}

body header {
  width: 100%;
  background-color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  padding: 10px;
}

body header nav {
  background-color: #d8d8d8;
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1px;
  height: calc(100svh - 233px);
  width: 100%;
}

@media (max-width: 1000px) {
  body main {
    overflow-x: overlay;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  body main::-webkit-scrollbar {
    display: none;
  }
  body main aside {
    scroll-snap-align: center;
    min-width: 250px;
  }
  body main aside .marquee {
    min-height: 100svh;
  }
  body main .container {
    scroll-snap-align: center;
    min-width: 100%;
  }
}

body main aside {
  width: 25%;
  height: 100%;
  background-color: #efefef;
}

body main aside .marquee {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
}

body main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1px;
  width: 75%;
  height: 100%;
}

body main .container .marquee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
  background-color: #efefef;
  height: 30px;
}

body main .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  background-color: #efefef;
  height: 100%;
  width: 100%;
  padding: 15px;
  overflow-y: overlay;
}

body main .container .content details {
  width: 100%;
  background-color: #d8d8d8;
  border: 2px dashed transparent;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  border-radius: 6px;
  padding: 14px;
}

body main .container .content details[open] {
  border-color: #fff;
  background-color: #efefef;
}

body main .container .content details summary {
  width: 100%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body main .container .content details p {
  font-size: 13px;
  background-color: #fff;
  padding: 12px;
  margin-top: 14px;
  border-radius: 6px;
}

body main .container .content details pre {
  font-size: 12px;
  margin: 14px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body main .container .content details ul {
  margin: 14px;
}

body main .container .content details ul li {
  list-style: square;
  font-size: 12px;
}

body footer {
  width: 100%;
  background-color: #efefef;
  min-height: 150px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}

body footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

body footer ul li {
  list-style: none;
}

body footer ul li h2 {
  margin-bottom: 4px;
}

body footer ul li a {
  text-decoration: none;
  color: #000;
}

body footer ul li a:hover {
  color: #ff0000;
}

body code {
  height: 30px;
  background-color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  width: 100%;
  font-size: 10px;
}

body code a {
  color: #ff0000;
  text-decoration: none;
}

body code a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */
